
*.class
*.tasty
.metals
.bloop
.bsp
.sbt
*.gch
.cache
*.out
c-playground
compile_commands.json
compile_flags.txt
target
**/sbt-test/**/build.properties

**/target/**
project/project
project/metals.sbt
pango.sh
*.worksheet.sc
.mcp.json
_site
